<!-- students/templates/students/student_detail.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ student.name }} Details</title>
</head>
<body>
    <h1>{{ student.name }} Details</h1>
    <p>ID: {{ student.id }}</p>
    <p>Name: {{ student.name }}</p>
    <p>Nationality: {{ student.nationality }}</p>
    <p>City: {{ student.city }}</p>
    {% comment %} <!-- Add other columns as needed --> {% endcomment %}
    <img src="{{ qr_code.url }}" class="rounded" alt="QR Code">
</body>
</html>
